#all_cats {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 29px 19px;
    padding: 30px 0;
}

#all_cats div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    gap: 12px;
    border-radius: 15px;
    transition: all 0.6s ease-in-out;
    min-width: 140px;
    min-height: 214px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

#all_cats div p{
   color: var(--white);
   text-align: center;
   font-weight: 700;
   font-size: 15px;
}


#all_cats div svg {
    transition: all 0.6s ease-in-out;
}


#all_cats div img {
    object-fit: contain;
    width: -webkit-fill-availaible;
    height: -webkit-fill-available;
    border-radius: 15px;
}

#all_cats div:hover{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#all_cats div:hover svg path{
    fill: aqua;
}

#all_cats div:first-child {
    grid-row-end: span 2;
    background-color: initial !important;
}


.all_cats--second {
    display: flex;
}


.all_cats--second .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px !important;
    height: 90px !important;
    border: 2px solid var(--blue);
    border-radius: 100%;
}

.all_cats--second .swiper-slide img {
    width: 70px;
    height: 30px;
    object-fit: cover;
}



@media screen and (max-width:480px) {
    #all_cats {
        display: none;
    }
}