


.btn__menu--mobile {
    --color:  #262626;
    height: 36px;
    padding: 0;
    margin: 0;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    -webkit-appearence: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1000;
}

.btn__menu--mobile.active{
    top: -104px;
}

.btn__menu--mobile svg {
    width: 49px;
    height: 48px;
    top: 6px;
    left: -5px;
    stroke: var(--green);
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: block;
    position: absolute;
}
.btn__menu--mobile svg path {
    transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
    stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
    stroke-dashoffset: var(--offset, 126px);
    transform: translateZ(0);
}
.btn__menu--mobile svg path:nth-child(2) {
    --duration: 0.7s;
    --easing: ease-in;
    --offset: 100px;
    --array-2: 74px;
}
.btn__menu--mobile svg path:nth-child(3) {
    --offset: 133px;
    --array-2: 107px;
}
.btn__menu--mobile.active svg path {
    --offset: 57px;
}
.btn__menu--mobile.active svg path:nth-child(1), .btn__menu--mobile.active svg path:nth-child(3) {
    --delay: 0.15s;
    --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
}
.btn__menu--mobile.active svg path:nth-child(2) {
    --duration: 0.4s;
    --offset: 2px;
    --array-1: 1px;
}
.btn__menu--mobile.active svg path:nth-child(3) {
    --offset: 58px;
}

@media screen and (max-width: 480px) {
    .btn__menu {
        width: -webkit-fill-available !important;
        display: flex;
        justify-content: center;
    }
}

