.new-wrapper {
    display: grid;
    gap: 31px;
    grid-template-columns: repeat(3, 1fr);
}

.new-wrapper .new-slide:first-of-type {
    position: relative;
    grid-column: span 2;
    grid-row: span 2;
}
.new-wrapper .new-slide .new-item:first-child img {
    padding-top: 30px;
    margin: 0 auto;
    /* height: 80%; */
}

.new-wrapper .new-item {
    display: grid;
    background-color: var(--dark-gray);
    border-radius: 30px;
    padding: 30px;
}

.new-wrapper .new-slide:nth-of-type(2) img {
    max-height: 225px;
    max-width: 225px;
    margin: 0 auto;
}

.new-wrapper .new-slide:nth-of-type(3) img {
    max-height: 225px;
    max-width: 225px;
    margin: 0 auto;
}

@media screen and (max-width:769px) {
    .new-wrapper {
        display: flex ;
        gap: 31px;
        /* overflow: hidden; */
        max-height: auto;
        min-width: auto;
        width: auto !important;   
    }
    .new-wrapper .new-item {
        border-radius: 0px 0px 30px 30px;
        padding: 0px 30px 30px 30px !important;

    }
    .new-wrapper .new-slide .new-item:first-child img {
        padding-top: 10px;
        margin: 0 auto;
    }
    new-wrapper .new-slide:nth-of-type(2) img {
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .new-wrapper .new-slide:nth-of-type(3) img {
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}
